<div class="add-patient pt-4">
    <div class="bg-light register-option">
      <div class="container">
        <div class="row">
          <!-- chỉnh khung divide vào giữa màn hình -->
          <div class="col-lg-12 order-md-1">
            <!-- chỉnh khung divide vào giữa màn hình -->
            <h4 class="mb-3 text-center"> <i class="fas fa-users-medical mr-3"></i>Thông Tin Phiếu Khám Bệnh</h4>
            <form class="needs-validation" novalidate>
              <div class="row">
                <div class="col-12 mb-3">
                  <label for="firstName">Mã phiếu khám bệnh</label>
                  <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="address2">Mã đăng ký</label>
                <input type="text" class="form-control" id="address2" placeholder="">
              </div>
              <div class="mb-3">
                <label for="address2">Chuẩn đoán</label>
                <input type="text" class="form-control" id="address2" placeholder="">
              </div>
              <div class="mb-3">
                <label for="address2">Ngày thêm</label>
                <input type="text" class="form-control" id="address2" placeholder="">
              </div>
              <hr class="mb-4">
              <button class="btn btn-lng btn-block">Lưu</button>
  
              <!-- Alert -->
            </form>
          </div>
        </div>
        <footer class="my-5 pt-5 text-muted text-center text-small">
        </footer>
      </div>
    </div>
  
  </div>