<div class="add-patient pt-4">
  <div class="bg-light register-option">
    <div class="container">
      <div class="row">
        <!-- chỉnh khung divide vào giữa màn hình -->
        <div class="col-lg-12 order-md-1">
          <!-- chỉnh khung divide vào giữa màn hình -->
          <h4 class="mb-3 text-center mt-3"> <i class="fas fa-users-medical mr-3"></i>Information of Examination Medical
          </h4>
          <form class="needs-validation" novalidate>
            <div class="row">
            </div>
            <div class="mb-3">
              <label for="address2">Symptom</label>
              <input type="text" class="form-control" id="address2" placeholder="">
            </div>
            <div class="mb-3">
              <label for="address2">Diagnostic</label>
              <input type="text" class="form-control" id="address2" placeholder="">
            </div>
            <div class="mb-3">
              <label for="address2">Doctor</label>
              <input type="text" class="form-control" id="address2" placeholder="">
            </div>
            <div class="mb-3 mt-4 medicine-table">
              <div class="container">
                <div class="row font-weight-bold text-center" style="background: #395c9c; color: white">
                  <div class="col-8" style="border-right: 1px #fff solid">
                    Medicine name
                  </div>
                  <div class="col-3">
                    Amount
                  </div>
                  <div class="col-1">
                  </div>
                </div>
              </div>
              <ul class="p-0">
                <li class="col-12 pl-0 pr-0 pt-2 pb-2" *ngFor="let medicine of medicines; let index = index">
                  <div class="container">
                    <div class="row">
                      <div class="col-8 pt-1" style="border: 1px #000 solid">
                        {{medicine.name}}
                      </div>
                      <div class="col-3 pt-1" style="border: 1px #000 solid">
                        {{medicine.amount}}
                      </div>
                      <div class="col-1">
                        <button class="btn btn-danger" (click)="delete(index)"><i class="fas fa-trash-alt"></i></button>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>


            <hr class="mb-4">
            <button class="btn btn-lng btn-block">Save</button>

            <!-- Alert -->
          </form>
          <p class="mt-4"><button class="btn" (click)="addMedicine()"><i class="fas fa-plus-square mr-2"></i>Add
              medicine</button></p>
          <div class="row" *ngIf="isAdd">
            <div class="col-lg-12">
              <div class="search-patient mt-3">
                <div class="row">
                  <div class="col-12">
                    <form class="search-container mx-auto">
                      <input type="text" id="search-bar" (keyup)="searchUpdateMed($event.target.value)"
                        placeholder="Enter medicine's name!">
                      <a><i class="fas fa-search"></i></a>
                    </form>
                  </div>
                </div>
              </div>
              <div class="patient-list mb-4">
                <div class="col-12 mt-4">
                  <table class="table ml-2">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Medicine's Name</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Unit</th>
                        <th scope="col text-right">Add to prescription</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of searchedMed; let index =index">
                        <th scope="row">{{index+1}}</th>
                        <td>{{user?.tenThuoc}}</td>
                        <td>{{user?.soLuong}}</td>
                        <td>{{user?.donVi}}</td>
                        <td class="text-right"><button class="btn" (click)="show()"><i
                              class="fas fa-folder-plus"></i></button></td>

                        <!-- <div class="container" *ngIf="isPopup">
                          <div class="row">
                            <div class="model-box">
                              <div class="col-12 p-0 head">
                                <p class="logo text-center m-0"><img [src]="logo" alt=""></p>
                                <p class="text-center m-0 font-weight-bold title">
                                  PHÒNG KHÁM ĐA KHOA SAIGON MEDICAL
                                </p>
                              </div>
                              <div class="col-12 body">
                                <form action="" #formMed="ngForm">
                                  <div class="amount">
                                    <label for="">Số lượng:</label>
                                    <input type="text" name="amountMed" id="" placeholder="Số lượng thuốc"
                                      [(ngModel)]="amountMed" required>
                                  </div>

                                  <div class="instruc">
                                    <label for="">Cách dùng:</label>
                                    <textarea name="cachDung" id="" placeholder="Cách dùng" [(ngModel)]="cachDung"
                                      required></textarea>
                                  </div>
                                  <div class="col-12">
                                    <p class="text-right">
                                      <button class="btn btn-danger mr-2" (click)="close()"> <i
                                          class="fas fa-times-square mr-2"></i>Đóng</button>
                                      <button class="btn btn-success" [disabled]="formMed.invalid" (click)="add(index)">
                                        <i class="fas fa-check-square mr-2"></i>Thêm</button>
                                    </p>
                                  </div>
                                </form>
                              </div>

                            </div>
                          </div>
                        </div> -->

                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container" *ngIf="isAlert">
  <div class="row">
    <div class="model-box">
      <div class="col-12 p-0 head">
        <p class="logo text-center m-0"><img [src]="logo" alt=""></p>
        <p class="text-center m-0 font-weight-bold title">
          PHÒNG KHÁM ĐA KHOA SAIGON MEDICAL
        </p>
      </div>
      <div class="col-12 body text-center">
        <h5 *ngIf="isSuccess">Thêm vào thành công!</h5>
        <h5 *ngIf="isFail">Số lượng thuốc trong kho không đủ! Vui lòng giảm số lượng.</h5>
      </div>
      <div class="col-12">
        <p class="text-right">
          <button class="btn btn-danger mr-2" (click)="close()"> <i class="fas fa-times-square mr-2"></i>Đóng</button>
        </p>
      </div>
    </div>
  </div>
</div>