<div class="container-fluid">
  <div class="patient">
    <div class="row">
      <div class="col-lg-12 patient-nav">
        <div class="container">
          <div class="row">
            <div class="col-1">
              <p class="text-center m-0">
                <i class="far fa-dna"></i>
              </p>
            </div>
            <div class="col-11">
              <h4 class="m-0">Examination</h4>
              <p class="m-0">Examination Management Department</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row bg-nhanviet" *ngIf="isHidden">
      <div class="col-lg-12">
        <div class="patient-list">
          <div class="search-patient mt-3">
            <div class="row">
              <div class="col-12">
                <form class="search-container mx-auto">
                  <input type="text" id="search-bar" (keyup)="searchUpdateForRegister($event.target.value)"
                    placeholder="Enter ID or name of patient!">
                  <a><i class="fas fa-search"></i></a>
                </form>
              </div>
            </div>
          </div>
          <div class="col-12 mt-4 patinent-table p-0 mb-4">
            <h5 class="mb-4 title-list p-2"> <i class="fas fa-list mr-2"></i>Examination Registration List</h5>
            <table class="table ml-2">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Register ID</th>
                  <th scope="col">Patient Name</th>
                  <th scope="col">Status</th>
                  <th scope="col">Add Date</th>
                  <th scope="col" class=" text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let register of searchedRegis">
                  <th scope="row">{{register?.maDangKi}}</th>
                  <th scope="row">{{register?.maBenhNhan}}</th>
                  <td><span class="badge" [class.badge-success]="register?.tinhTrang == 'Đã khám'"
                      [class.badge-warning]="register?.tinhTrang == 'Đang chờ'">{{register?.tinhTrang}}</span></td>
                  <td>{{register?.ngayDangKi}}</td>
                  <td class="text-center btn-box">
                    <button class="btn mr-2" *ngIf="register?.tinhTrang == 'Đang chờ'"
                      [routerLink]="['add-examination', register.maDangKi]"><i class="fas fa-plus-circle"></i></button>
                    <button class="mr-2 btn btn-success" *ngIf="register?.tinhTrang == 'Đã khám'"
                      [routerLink]="['examination-detail', register.maPhieuKham]"><i
                        class="fas fa-folder-open"></i></button>
                    <button class="btn btn-danger mr-2" (click)="verifyAction()"><i
                        class="fas fa-trash"></i></button>
                  </td>
                  <div *ngIf="isDelete" class="verify-box">
                    <div class="container h-100">
                      <div class="row h-100">
                        <div class="col-6 my-auto mx-auto">
                          <div class="card">
                            <div class="card-header">
                              <div class="col-12 p-0">
                                <p class="logo text-center m-0"><img class="w-75" [src]="logo" alt=""></p>
                              </div>
                            </div>
                            <div class="card-body">
                              <p class="text-center mt-4">Bạn có chắc chắn muốn xóa phiếu khám bệnh này không?</p>
                            </div>
                            <div class="card-footer">
                              <p class="text-right m-0">
                                <button class="btn btn-success mr-2" (click)="cancelAction()"> <i
                                    class="fas fa-undo-alt mr-2"></i>Hủy bỏ</button>
                                <button class="btn btn-danger ml-2" (click)="deleteRegister(register)"> <i
                                    class="fas fa-user-slash mr-2"></i>Xóa</button>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>