<div class="container-fluid">
    <div class="patient">
      <div class="row">
        <div class="col-lg-12 patient-nav">
          <div class="container">
            <div class="row">
              <div class="col-1">
                <p class="text-center m-0">
                  <i class="far fa-dna"></i>
                </p>
              </div>
              <div class="col-11">
                <h4 class="m-0">Dược Phẩm</h4>
                <p class="m-0">Quản lí thuốc và thực phẩm chức năng</p>
              </div>
            </div>
          </div>
  
        </div>
      </div>
      <div class="row bg-nhanviet" *ngIf="isHidden">
        <div class="col-lg-12">
          <div class="patient-list">
            <div class="patient-list-head">
              <p class="m-0">
                <button class="btn m-2" [routerLink]="'add-medicine'"><a><i class="fas fa-plus-square mr-2"></i>Thêm dược phẩm
                  </a></button>
              </p>
            </div>
            <div class="search-patient mt-3">
              <div class="row">
                <div class="col-12">
                  <form class="search-container mx-auto">
                    <input type="text" id="search-bar"  (keyup)="searchUpdateMed($event.target.value)" placeholder="Nhập tên hoặc mã số bệnh nhân!">
                    <a><i class="fas fa-search"></i></a>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-12 mt-4 patinent-table p-0">
              <h4 class="mb-4 title-list p-2"> <i class="fas fa-list mr-2"></i>Danh sách thuốc</h4>
              <table class="table ml-2">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Medicine's Name</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Manufactured</th>
                    <th scope="col">Expired</th>
                    <th scope="col">Price</th>
                    <th class="text-center" scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let medicine of searchedMed; let i=index">
                    <th scope="row">{{medicine?.maThuoc}}</th>
                    <td>{{medicine?.tenThuoc}}</td>
                    <td>{{medicine?.donVi}}</td>
                    <td>{{medicine?.soLuong}}</td>
                    <td>{{medicine?.ngaySanXuat}}</td>
                    <td>{{medicine?.hanSuDung}}</td>
                    <td>{{medicine?.gia}}</td>
                    <td class="text-center">
                      <button class="btn mr-2" style="width: 40px;"><i class="fas fa-pencil-alt"></i></button>
                      <button class="btn btn-danger" style="width: 40px" (click)="deleteMedicine(medicine)"><i class="fas fa-trash"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>