<div class="container-fluid">
  <div class="patient">
    <div class="row">
      <div class="col-lg-12 patient-nav">
        <div class="container">
          <div class="row">
            <div class="col-1">
              <p class="text-center m-0">
                <i class="far fa-dna"></i>
              </p>
            </div>
            <div class="col-11">
              <h4 class="m-0">
                {{ "medicine.title" | translate }}
              </h4>
              <p class="m-0">
                {{ "medicine.description" | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="isHidden">
      <div class="col-lg-12 mb-1 bg-gradient">
        <div class="patient-list">
          <div class="search-patient">
            <div class="row">
              <div class="col-12">
                <form class="search-container mx-auto">
                  <input
                    type="text"
                    id="search-bar"
                    (keyup)="searchUpdateMed($event.target.value)"
                    placeholder="{{ 'medicine.search' | translate }}"
                  />
                  <a><i class="fas fa-search"></i></a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 bg-nhanviet">
        <div class="patient-list">
          <div class="col-12 mt-4 patinent-table p-0 mb-4">
            <h5 class="mb-2 title-list p-2">
              <i class="fas fa-list mr-2"></i>{{ "medicine.list" | translate }}
            </h5>
            <div class="patient-list-head mb-2">
              <p class="m-0">
                <button class="btn m-2" [routerLink]="'add-medicine'">
                  <a
                    ><i class="fas fa-plus-square mr-2"></i>
                    {{ "medicine.addmed" | translate }}
                  </a>
                </button>
                <button class="btn m-2" (click)="getAllMedicine()">
                  <a><i class="fas fa-sync mr-2"></i>
                    {{"sidebar.refresh" | translate}}
                  </a>
                </button>
              </p>
            </div>
            <table class="table ml-2">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">{{ "medicine.name" | translate }}</th>
                  <th scope="col">{{ "medicine.unit" | translate }}</th>
                  <th scope="col">{{ "medicine.amount" | translate }}</th>
                  <th scope="col">{{ "medicine.nsx" | translate }}</th>
                  <th scope="col">{{ "medicine.hsd" | translate }}</th>
                  <th scope="col">{{ "medicine.cost" | translate }}</th>
                  <th class="text-center" scope="col">
                    {{ "medicine.action" | translate }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let medicine of searchedMed | paginate: config;
                    let i = index
                  "
                >
                  <th scope="row">{{ medicine?.maThuoc }}</th>
                  <td>{{ medicine?.tenThuoc }}</td>
                  <td>{{ medicine?.donVi }}</td>
                  <td>{{ medicine?.soLuong }}</td>
                  <td>{{ medicine?.ngaySanXuat }}</td>
                  <td>{{ medicine?.hanSuDung }}</td>
                  <td>{{ medicine?.gia }}</td>
                  <td class="text-center btn-action">
                    <button
                      class="btn text-white mr-2"
                      [routerLink]="['update-medicine', medicine.maThuoc]"
                    >
                      <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button class="btn btn-danger" (click)="verifyAction()">
                      <i class="fas fa-trash"></i>
                    </button>
                  </td>
                  <div *ngIf="isDelete" class="verify-box">
                    <div class="container h-100">
                      <div class="row h-100">
                        <div class="col-6 my-auto mx-auto">
                          <div class="card">
                            <div class="card-header">
                              <div class="col-12 p-0">
                                <p class="logo text-center m-0">
                                  <img class="w-75" [src]="logo" alt="" />
                                </p>
                              </div>
                            </div>
                            <div class="card-body">
                              <p class="text-center mt-4">
                                {{ "medicine.verify" | translate }}
                              </p>
                            </div>
                            <div class="card-footer">
                              <p class="text-right m-0">
                                <button
                                  class="btn btn-success mr-2"
                                  (click)="cancelAction()"
                                >
                                  <i class="fas fa-undo-alt mr-2"></i
                                  >{{ "medicine.cancel" | translate }}
                                </button>
                                <button
                                  class="btn btn-danger ml-2"
                                  (click)="deleteMedicine(medicine)"
                                >
                                  <i class="fas fa-user-slash mr-2"></i
                                  >{{ "medicine.delete" | translate }}
                                </button>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </tr>
              </tbody>
            </table>

            <pagination-controls
              class="pagination-bar"
              style="text-align:right"
              (pageChange)="pageChanged($event)"
              directionLinks="true"
              autoHide="true"
              responsive="true"
              previousLabel="Trước"
              nextLabel="Sau"
              screenReaderPaginationLabel="Pagination"
              screenReaderPageLabel="page"
              screenReaderCurrentLabel="You're on page"
            >
              ></pagination-controls
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
