<div class="container">
  <div class="patient">
    <div class="row">
      <div class="col-lg-12 patient-nav">
        <h3> <i class="fas fa-capsules mr-2 ml-2"></i>Quản Lí Dược Phẩm</h3>
      </div>
    </div>
    <div class="row" *ngIf="isHidden">
      <div class="col-lg-12">
        <div class="patient-list">
          <div class="patient-list-head">
            <button class="btn m-2" [routerLink]="'add-medicine'"><a><i class="fas fa-plus-square mr-2"></i>Thêm Dược
                Phẩm</a></button>
          </div>
          <div class="search-patient mt-3">
            <div class="row">
              <div class="col-12">
                <form class="search-container mx-auto">
                  <input type="text" id="search-bar" placeholder="Nhập tên dược phẩm!">
                  <a><i class="fas fa-search"></i></a>
                </form>
              </div>
            </div>
          </div>
          <div class="patient-list-body">
            <ul class="m-0 p-0">
              <div class="row m-4">
                <li class=" p-0 col-12" *ngFor="let user of users">
                  <div class="patient-user m-1">
                    <div class="card">
                      <div class="card-head">
                        <h5 class="name title mt-2 p-0">{{user.name}}</h5>
                      </div>
                      <div class="card-body p-2">
                        <p class="m-0"> <img [src]="user.img" alt="">{{user.amount}}
                          {{user.unit}} |
                          Đơn giá: {{user.price}} |
                          Ngày sản xuất: {{user.nsx}} |
                          Hạn sử dụng: {{user.hsd}} |
                        </p>
                      </div>
                      <p class="text-right m-0">
                        <button class="btn m-2" (click)="show()"><i class="fas fa-file-medical mr-2"></i>Thêm Vào Đơn Thuốc</button>
                      </p>
                    </div>
                  </div>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="isPopup">
  <div class="row">
    <div class="model-box">
      <div class="col-12 p-0 head">
        <p class="logo text-center m-0"><img [src]="logo" alt=""></p>
        <p class="text-center m-0 font-weight-bold title">
          PHÒNG KHÁM ĐA KHOA SAIGON MEDICAL
        </p>
      </div>
      <div class="col-12 body">
        <p class="text-center">Thêm vào đơn thuốc thành công!</p>
      </div>
      <div class="col-12">
        <p class="text-right">
          <button class="btn btn-danger" (click)="close()"> <i class="fas fa-times-square mr-2"></i>Đóng</button>
        </p>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>