<div class="container-fluid">
  <div class="patient">
    <div class="row">
      <div class="col-lg-12 patient-nav">
        <div class="container">
          <div class="row">
            <div class="col-1">
              <p class="text-center m-0">
                <i class="far fa-dna"></i>
              </p>
            </div>
            <div class="col-11">
              <h4 class="m-0">
                {{ "overview.title" | translate }}
              </h4>
              <p class="m-0">
                {{ "overview.description" | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row bg-gradient survey br-5 pt-3 pb-3">
      <div class="col-3">
        <div class="card">
          <div class="container">
            <div class="row">
              <div class="col-4 p-0">
                <i class="fal fa-file-medical survey-icon"></i>
              </div>
              <div class="col-8 p-0">
                <p class="don-kham m-0">{{ "overview.exams" | translate }}</p>
                <h3 class="so-luong pl-2">
                  {{ cardInfor?.soDangKiKhamBenh }}
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="container">
            <div class="row">
              <div class="col-4 p-0">
                <i class="fal fa-procedures survey-icon"></i>
              </div>
              <div class="col-8 p-0">
                <p class="don-kham m-0">
                  {{ "overview.newpatient" | translate }}
                </p>
                <h3 class="so-luong pl-2">
                  {{ cardInfor?.soBenhNhan }}
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="container">
            <div class="row">
              <div class="col-4 p-0">
                <i class="fal fa-user-nurse survey-icon"></i>
              </div>
              <div class="col-8 p-0">
                <p class="don-kham m-0">
                  {{ "overview.newemploy" | translate }}
                </p>
                <h3 class="so-luong pl-2">
                  {{ cardInfor?.soNhanVien }}
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="container">
            <div class="row">
              <div class="col-4 p-0">
                <i class="fal fa-hand-holding-usd survey-icon"></i>
              </div>
              <div class="col-8 p-0">
                <p class="don-kham m-0">{{ "overview.revenue" | translate }}</p>
                <h3 class="so-luong pl-2">
                  {{ cardInfor?.doanhThu }}
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row bg-gradient mt-4 br-5">
      <div class="col-5 bar-chart mx-auto mt-4 mb-4">
        <h4 class="text-left mt-2">
          {{ "overview.ptnrate" | translate }}
        </h4>
        <label for="">{{ "overview.ptndescription" | translate }}</label>
        <app-bar-chart></app-bar-chart>
      </div>
      <div class="col-5 pie-chart mx-auto mt-4 mb-4">
        <h4 class="text-left mt-2">
          {{ "overview.dptrate" | translate }}
        </h4>
        <label for="">{{ "overview.dptdescription" | translate }}</label>
        <app-pie-chart></app-pie-chart>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-4 patinent-table p-0">
        <h4 class="mb-4 title-list p-2 bg-gradient">
          <i class="fal fa-file-invoice-dollar mr-2"></i
          >{{ "overview.incomemonth" | translate }}
        </h4>
        <table class="table ml-2">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">{{ "overview.month" | translate }}</th>
              <th scope="col">{{ "overview.revenue" | translate }}</th>
              <th scope="col">{{ "overview.note" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let doanhThu of totalRevenue; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ doanhThu.thang }}</td>
              <td>{{ doanhThu.giaTri }}</td>
              <td>{{ doanhThu.tyLe > 0 ? doanhThu.tyLe : -doanhThu.tyLe }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-4 patinent-table p-0">
        <h4 class="bg-gradient mb-4 title-list p-2">
          <i class="fal fa-medal mr-2"></i>{{ "overview.achiev" | translate }}
        </h4>
        <div class="container">
          <div class="row p-2">
            <div *ngFor="let reward of rewards" class="col-lg-3">
              <div class="card card-new p-0 m-2">
                <img
                  class="card-img-top"
                  [src]="reward?.doctorUrl"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    {{ reward?.doctorName }}
                  </h5>
                  <p class="card-text">
                    {{ reward?.doctorDescription }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-4 patinent-table p-0">
        <h4 class="bg-gradient mb-4 title-list p-2">
          <i class="fal fa-head-side-brain mr-2"></i
          >{{ "overview.tech" | translate }}
        </h4>
        <div class="container">
          <div class="row p-2">
            <div *ngFor="let tech of techs" class="col-lg-3">
              <div class="card card-new p-0 m-2">
                <img
                  class="card-img-top"
                  [src]="tech?.techUrl"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    {{ tech?.techName }}
                  </h5>
                  <p class="card-text">
                    {{ tech?.techDescription }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-4 patinent-table p-0">
        <h4 class="bg-gradient mb-4 title-list p-2">
          <i class="fal fa-images mr-2"></i>{{ "overview.gallery" | translate }}
        </h4>
        <div class="container">
          <div class="row p-2">
            <div *ngFor="let image of gallery" class="col-lg-3">
              <div class="card card-img p-0 m-3">
                <img
                  class="card-img-top"
                  [src]="image?.galleryUrl"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    {{ image?.galleryName }}
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="mt-2">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <p class="text-left">
              Copyright &copy; 2019
              <span class="font-weight-bold" style="color: #36d1dc"
                >GoCodee</span
              >
            </p>
          </div>
          <div class="col-6">
            <p class="text-right">
              Designed by
              <span class="font-weight-bold" style="color: #36d1dc"
                >Le Tuan Khoi</span
              >, Designer of
              <span class="font-weight-bold" style="color: #36d1dc"
                >GoCodee</span
              >
              Co, Ltd.
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>

<app-loader *ngIf="isLoading"></app-loader>
