<div class="container-fluid">
    <div class="patient">
        <div class="row">
            <div class="col-lg-12 patient-nav">
                <div class="container">
                    <div class="row">
                        <div class="col-1">
                            <p class="text-center m-0">
                                <i class="far fa-dna"></i>
                            </p>
                        </div>
                        <div class="col-11">
                            <h4 class="m-0">Overview</h4>
                            <p class="m-0">Information of Nhanviet Medical General Hospital</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row bg-nhanviet survey pt-3">
            <div class="col-3">
                <div class="card">
                    <div class="container">
                        <div class="row">
                            <div class="col-4 p-0">
                                <i class="fal fa-file-medical survey-icon"></i>
                            </div>
                            <div class="col-8 p-0">
                                <p class="don-kham m-0">Medical Exams</p>
                                <h3 class="so-luong pl-2">215</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="container">
                        <div class="row">
                            <div class="col-4 p-0">
                                <i class="fal fa-procedures survey-icon"></i>
                            </div>
                            <div class="col-8 p-0">
                                <p class="don-kham m-0">New Patients </p>
                                <h3 class="so-luong pl-2">215</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="container">
                        <div class="row">
                            <div class="col-4 p-0">
                                <i class="fal fa-scalpel-path survey-icon"></i>
                            </div>
                            <div class="col-8 p-0">
                                <p class="don-kham m-0">Surgery Operations</p>
                                <h3 class="so-luong pl-2">215</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="container">
                        <div class="row">
                            <div class="col-4 p-0">
                                <i class="fal fa-hand-holding-usd survey-icon"></i>
                            </div>
                            <div class="col-8 p-0">
                                <p class="don-kham m-0">Total Income</p>
                                <h3 class="so-luong pl-2">215</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 bar-chart m-3">
                <h4 class="text-left mt-2">
                    Rate of patiens
                </h4>
                <label for="">The difference in gender of patients</label>
                <app-bar-chart></app-bar-chart>
            </div>
            <div class="col-5 pie-chart m-3">
                <h4 class="text-left mt-2">
                    Rate of medical examinations
                </h4>
                <label for="">Statistics on the proportion of medical departments in the clinic</label>
                <app-pie-chart></app-pie-chart>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-4 patinent-table p-0">
                <h4 class="mb-4 title-list p-2"><i class="fal fa-file-invoice-dollar mr-2"></i>Revenue by month</h4>
                <table class="table ml-2">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Month</th>
                            <th scope="col">Revenue</th>
                            <th scope="col">Note</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let doanhThu of doanhThus; let i=index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{doanhThu.thang}}</td>
                            <td>{{doanhThu.soTien}}</td>
                            <td>{{doanhThu.ghiChu}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-4 patinent-table p-0">
                <h4 class="mb-4 title-list p-2"><i class="fal fa-medal mr-2"></i>Medical Achievement</h4>
                
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-4 patinent-table p-0">
                <h4 class="mb-4 title-list p-2"><i class="fal fa-head-side-brain mr-2"></i>New Technology</h4>
                
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-4 patinent-table p-0">
                <h4 class="mb-4 title-list p-2"><i class="fal fa-images mr-2"></i>Gallery</h4>
                
            </div>
        </div>
        <footer class="mt-2">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <p class="text-left">
                            Copyright &copy; 2019 <span class="font-weight-bold" style="color: #395c9c">GoCodee</span>
                        </p>
                    </div>
                    <div class="col-6">
                        <p class="text-right">
                            Designed by <span class="font-weight-bold" style="color: #395c9c">Le Tuan Khoi</span>, Designer of <span class="font-weight-bold" style="color: #395c9c">GoCodee</span> Co, Ltd.
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>