<app-navbar></app-navbar>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">HÃY BẢO VỆ SỨC KHỎE CỦA BẠN</h1>
        <p class="lead font-weight-normal">Bạn muốn có một sức khỏe tốt, hãy đến với Phòng khám đa khoa Sài Gòn.</p>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">CHẤT LƯỢNG Y TẾ HÀNG ĐẦU TẠI VIỆT NAM</h2>
            <p class="lead">Cơ sở vật chất hiện đại.</p>
        </div>
        <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">PHÒNG KHÁM ĐA KHOA SÀI GÒN</h2>
            <p class="lead">1412/221B Paris Commune, Quận 1, Sài Gòn</p>
        </div>
        <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <img style="cursor: pointer;" class="w-100 mt-4 pt-4" [src]="pbLogo" alt="">
            <p style="color: #fff">Nơi chất lượng sức khỏe của bạn sẽ được nâng cao!</p>
        </div>
    </div>
</div>

<div class="bg-dark">
    <footer class="py-5 container">
        <div class="row">
            <div class="col-12 col-md mr-4">
                <img style="cursor: pointer;" class="w-100 mt-4" [src]="pbLogo" alt="">
            </div>
            <div class="col-6 col-md">
                <h5>Chất lượng</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="" >Y học quốc tế</a></li>
                    <li><a class="" >Bác sĩ quốc tế</a></li>
                    <li><a class="" >Dược phẩm quốc tế</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Chuyên môn</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="" >Huyết học</a></li>
                    <li><a class="" >Ung bướu</a></li>
                    <li><a class="" >Nha khoa</a></li>
                    <li><a class="" >Nội khoa</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Địa chỉ</h5>
                <ul class="list-unstyled text-small">
                    <p class="lead">1412/221B Paris Commune, Quận 1, Sài Gòn</p>
                </ul>
            </div>
        </div>
    </footer>
</div>