<div class="background">
  <div class="area-login">
    <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>
          {{'login.fail' | translate}}
      </strong><br> {{'login.recheck' | translate}}
    </div>
    <div class="pt-4 m-4">
      <p class="text-center m-0">
        <img style="cursor: pointer;" class="w-100 img" [src]="pbLogo" [routerLink]="['/']" alt="">
      </p>
    </div>
    <form autocomplete="off" class="p-4">
      <div class="input-area row">
        <i class="fal fa-user icon px-0"></i>
        <input autocomplete="off" type="text" class="input-login" [(ngModel)]="user.username"
          placeholder="{{'login.email' | translate}}" name="username" (change)="validateEmail($event.target.value)">
      </div>
      <div class="input-area row">
        <i class="fal fa-key icon px-0"></i>
        <input type="password" [(ngModel)]="user.password" placeholder="{{'login.password' | translate}}" class="input-login"
          name="password">
      </div>
      <button type="submit" class="login-button" (click)="emailLogin()">{{'login.login' | translate}}</button>
    </form>
    <p class="text-center" style="color: white">
      {{'login.copyright' | translate}} &copy; 2019 <span class="font-weight-bold">GoCodee</span>
    </p>
  </div>
</div>

<app-loader *ngIf="isLoading"></app-loader>