.background {
  background: url(/assets/images/who-2.png) no-repeat;
  background-size: 50%;
  background-position-y: center;
  background-position-x: 70px;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.area-login {
  width: 430px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  transform: translateX(80%);
}

.input-login {
  background: rgba(255, 255, 255, 0);
  border-bottom: 2px solid white;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  padding: 7px 10px 7px 0px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  color: rgb(255, 255, 255);
  flex: 1 !important;
  max-width: 100% !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(255, 255, 255);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(255, 255, 255);
}

.input-area {
  // border-bottom: 2px solid white;
  padding: 0px 0px;
  margin: 5px 0px;
  display: inline-flex;
  width: 100%;
  color: white;
  background: transparent;
}

.icon {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 40px;
  max-width: 40px;
}

.login-button {
  padding: 8px 10px;
  width: 100%;
  margin: 10px 0px;
  cursor: pointer;
}

button.close {
  top: 50% !important;
  transform: translateY(-50%);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
  padding-left: 10px !important;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: /*your box-shadow*/ 0 0 0 50px white inset;
  -webkit-text-fill-color: #333;
  padding-left: 10px !important;
}

.img {
  &:focus {
    outline: none;
  }
}

button {
  &:focus {
    outline: none;
  }
}
