<nav class="navbar navbar-expand-lg navbar-light bg-nhanviet p-3 m-1" style="height: 70.5px;">
  <div class="collapse navbar-collapse" id="navbarNav">
    <p class="text-right w-100 m-0">
      <i class="fas fa-dice-d6"></i>
      <span *ngIf="isPharmacist">
        {{'employee.pharmacist' | translate}}
      </span>
      <span *ngIf="isDoctor">
        {{'employee.doctor' | translate}}
      </span>
      <span *ngIf="isAdmin">
        {{'employee.admin' | translate}}
      </span>
      <span *ngIf="isEmployee">
        {{'employee.employees' | translate}}
      </span>
    </p>

  </div>
</nav>