.verify-box {
    .card-invoice {
        height: 500px;
        overflow: scroll;
    }

    h5 {
        background: #dee2e6;
    }

    .med-box {
        border: solid 1px #dee2e6;
        border-radius: 5px;
    }
}