<div class="add-patient pt-4 bg-gradient">
  <div class="bg-light register-option">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 order-md-1">
          <h4 class="mb-3 text-center"> <i class="fas fa-file-medical mr-3 mt-4"></i>
            {{'patient.addinfor' | translate}}
          </h4>
          <form class="needs-validation" #formPat="ngForm">
            <div class="mb-3">
              <label for="firstName">
                {{'patient.name' | translate}}
              </label>
              <input type="text" class="form-control" id="firstName" name="hoTen" placeholder="" value="" required
                [(ngModel)]="patient.tenBenhNhan" minlength="6" maxlength="50">
              <p class="form-validation m-0" *ngIf="formPat.controls?.hoTen?.errors?.minlength">
                {{'validate.namelength' | translate}}
              </p>
              <p class="form-validation m-0"
                *ngIf="formPat.controls?.hoTen?.invalid && (formPat.controls?.hoTen?.dirty || formPat.controls?.hoTen?.touched) && !formPat.controls?.hoTen?.errors?.minlength">
                {{'validate.required' | translate}}
              </p>
            </div>
            <div class="mb-3">
              <label for="address2"> {{'patient.phone' | translate}}</label>
              <input type="text" class="form-control" id="address2" required name="soDienThoai" placeholder=""
                [(ngModel)]="patient.soDienThoai">
              <p class="form-validation m-0"
                *ngIf="formPat.controls?.soDienThoai?.invalid && (formPat.controls?.soDienThoai?.dirty || formPat.controls?.soDienThoai?.touched) && !formPat.controls?.soDienThoai?.errors?.minlength">
                {{'validate.required' | translate}}
              </p>
            </div>
            <div class="mb-3">
              <label for="username"> {{'patient.address' | translate}}</label>
              <input type="text" class="form-control" id="username" name="diaChi" placeholder="" required
                [(ngModel)]="patient.diaChi">
              <p class="form-validation m-0"
                *ngIf="formPat.controls?.diaChi?.invalid && (formPat.controls?.diaChi?.dirty || formPat.controls?.diaChi?.touched) && !formPat.controls?.diaChi?.errors?.minlength">
                {{'validate.required' | translate}}
              </p>
            </div>
            <div class="mb-3">
              <label for="address2"> {{'patient.birthday' | translate}}</label>
              <input type="text" class="form-control" id="address2" name="ngaySinh" required placeholder=""
                [(ngModel)]="patient.ngaySinh" pattern="([0-2][0-9]|(3)[0-1])(\-)(((0)[0-9])|((1)[0-2]))(\-)\d{4}$">
              <p class="form-validation m-0"
                *ngIf="formPat.controls?.ngaySinh?.invalid && (formPat.controls?.ngaySinh?.dirty || formPat.controls?.ngaySinh?.touched) && !formPat.controls?.ngaySinh?.errors?.minlength">
                {{'validate.required' | translate}}
              </p>
              <p *ngIf="isDateValid" class="form-validation m-0">
                {{'validate.birthdaycheckpatient' | translate}}
              </p>
              <p class="form-validation mb-0"
                *ngIf="formPat.controls?.ngaySinh?.errors && formPat.controls?.ngaySinh?.errors?.pattern">
                {{'validate.dateinvalid' | translate}}</p>
            </div>
            <div class="mb-3">
              <label for="address2"> {{'patient.job' | translate}}</label>
                <select class="custom-select d-block w-100" id="instance" name="ngheNghiep" required
                [(ngModel)]="patient.ngheNghiep">
                <option value="Infected">Infected</option>
                <option value="Suspected">Suspected
                </option>
              </select>
              <p class="form-validation m-0"
                *ngIf="formPat.controls?.ngheNghiep?.invalid && (formPat.controls?.ngheNghiep?.dirty || formPat.controls?.ngheNghiep?.touched) && !formPat.controls?.ngheNghiep?.errors?.minlength">
                {{'validate.required' | translate}}
              </p>
            </div>
            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="gender"> {{'patient.sex' | translate}}</label>
                <select class="custom-select d-block w-100" id="gender" name="gioiTinh" required
                  [(ngModel)]="patient.gioiTinh">
                  <option value="M">M</option>
                  <option value="F">F
                  </option>
                </select>
                <p class="form-validation m-0"
                  *ngIf="formPat.controls?.gioiTinh?.invalid && (formPat.controls?.gioiTinh?.dirty || formPat.controls?.gioiTinh?.touched) && !formPat.controls?.gioiTinh?.errors?.minlength">
                  {{'validate.required' | translate}}
                </p>
              </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-lng btn-block w-25 float-right" (click)="createPatient()"
              [disabled]="formPat.invalid" [class.ban]="formPat.invalid"> {{'patient.create' | translate}}</button>

            <!-- Alert -->
          </form>
        </div>
      </div>
      <footer class="my-5 pt-5 text-muted text-center text-small">
      </footer>
    </div>
  </div>

</div>