.patient {
  margin-left: 237px;
  margin-right: 5px;
}

.patient-nav {
  padding: 15px;
  border-bottom: 1px solid #e1e6ef;

  i {
    font-size: 50px;
    color: #395c9c;
  }
}

.patinent-table {
  border: 1px solid #d0cfce;
  border-radius: 5px;
  background: white;
}


.language {
  button {
    width: 150px;
    background: #e6e4e3;
    color: black;

    &:focus {
      outline: none;
      background-image: linear-gradient(to right, #36d1dc, #5b86e5);
      color: white;
    }
  }

  img {
    width: 24px;
  }
}

.color-picker {
  button {
    width: 38px;
    height: 38px;
  }

  #btn-1 {
    background: #395c9c;
  }

  #btn-2 {
    background: #ac3e43;
  }

  #btn-3 {
    background: #3db36e;
  }

  #btn-4 {
    background: #b43895;
  }

  #btn-5 {
    background: #6d8517;
  }
}
