<div class="container-fluid">
  <div class="patient">
    <div class="row bg-nhanviet">
      <div class="col-lg-12">
        <div class="patient-list">
          <div class="search-patient mt-3">
            <div class="row">
              <div class="col-12">
                <form class="search-container mx-auto">
                  <input type="text" id="search-bar" placeholder="Nhập mã số phiếu khám bệnh!">
                  <a><i class="fas fa-search"></i></a>
                </form>
              </div>
            </div>
          </div>
          <div class="col-12 mt-4 patinent-table p-0">
            <h4 class="mb-4 title-list p-2"> <i class="fas fa-list mr-2"></i>Danh sách phiếu khám bệnh</h4>
            <table class="table ml-2">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Mã</th>
                  <th scope="col">Tên</th>
                  <th scope="col">Giới tính</th>
                  <th scope="col">Ngày sinh</th>
                  <th scope="col">Địa chỉ</th>
                  <th scope="col">Nghề nghiệp</th>
                  <th scope="col">Số điện thoại</th>
                  <th scope="col">Ngày thêm</th>
                  <th scope="col">Hành động</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let patient of patients; let i=index">
                  <th scope="row">{{patient.maBenhNhan}}</th>
                  <td>{{patient.tenBenhNhan}}</td>
                  <td>{{patient.gioiTinh}}</td>
                  <td>{{patient.ngaySinh}}</td>
                  <td>{{patient.diaChi}}</td>
                  <td>{{patient.ngheNghiep}}</td>
                  <td style="color: blue"><i class="fas  fa-mobile-android-alt mr-2"></i>{{patient.soDienThoai}}</td>
                  <td>{{patient.ngayThem}}</td>
                  <td>
                    <button class="btn mr-2"><i class="fas fa-pencil-alt"></i></button>
                    <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
