<div class="add-patient bg-gradient pt-4">
    <div class="bg-light register-option">
      <div class="container">
        <div class="row">
          <!-- chỉnh khung divide vào giữa màn hình -->
          <div class="col-lg-12 order-md-1">
            <!-- chỉnh khung divide vào giữa màn hình -->
            <h4 class="mb-3 text-center"> <i
                class="fas fa-prescription-bottle-alt mr-3 mt-4"></i>{{'medicine.updateinfor' | translate}}</h4>
            <form class="needs-validation" #formMed="ngForm">
              <div class="row">
                <div class="col-12 mb-3">
                  <label for="firstName">{{'medicine.name' | translate}}</label>
                  <input type="text" class="form-control" id="firstName" placeholder="" value="" required name="tenThuoc"
                    [(ngModel)]="medicine.tenThuoc">
                  <p class="form-validation m-0"
                    *ngIf="formMed.controls?.tenThuoc?.invalid && (formMed.controls?.tenThuoc?.dirty || formMed.controls?.tenThuoc?.touched) && !formMed.controls?.tenThuoc?.errors?.minlength">
                    {{'validate.required' | translate}}
                  </p>
                </div>
              </div>
              <div class="mb-3">
                <label for="address2">{{'medicine.amount' | translate}}</label>
                <input type="text" class="form-control" id="address2" placeholder="" name="soLuong" required
                  [(ngModel)]="medicine.soLuong" pattern="^[1-9][0-9]*$">
                <p class="form-validation m-0"
                  *ngIf="formMed.controls?.soLuong?.invalid && (formMed.controls?.soLuong?.dirty || formMed.controls?.soLuong?.touched) && !formMed.controls?.soLuong?.errors?.minlength">
                  {{'validate.required' | translate}}
                </p>
                <p class="form-validation mb-0"
                *ngIf="formMed.controls?.soLuong?.errors && formMed.controls?.soLuong?.errors?.pattern">
                {{'validate.invalid' | translate}}</p>
              </div>
              <div class="mb-3">
                <label for="address2">{{'medicine.unit' | translate}}</label>
                <input type="text" class="form-control" id="address2" placeholder="" name="donVi" required
                  [(ngModel)]="medicine.donVi">
                <p class="form-validation m-0"
                  *ngIf="formMed.controls?.donVi?.invalid && (formMed.controls?.donVi?.dirty || formMed.controls?.donVi?.touched) && !formMed.controls?.donVi?.errors?.minlength">
                  {{'validate.required' | translate}}
                </p>
              </div>
              <div class="mb-3">
                <label for="address2">{{'medicine.nsx' | translate}}</label>
                <input type="text" class="form-control" id="address2" placeholder="" name="ngaySanXuat" required
                  [(ngModel)]="medicine.ngaySanXuat" pattern="([0-2][0-9]|(3)[0-1])(\-)(((0)[0-9])|((1)[0-2]))(\-)\d{4}$">
                <p class="form-validation m-0"
                  *ngIf="formMed.controls?.ngaySanXuat?.invalid && (formMed.controls?.ngaySanXuat?.dirty || formMed.controls?.ngaySanXuat?.touched) && !formMed.controls?.ngaySanXuat?.errors?.minlength">
                  {{'validate.required' | translate}}
                </p>
                <p class="form-validation mb-0"
                  *ngIf="formMed.controls?.ngaySanXuat?.errors && formMed.controls?.ngaySanXuat?.errors?.pattern">
                  {{'validate.dateinvalid' | translate}}</p>
                <p *ngIf="isDateValid" class="form-validation m-0">
                  {{'validate.nsxhsd' | translate}}
                </p>
              </div>
              <div class="mb-3">
                <label for="address2">{{'medicine.hsd' | translate}}</label>
                <input type="text" class="form-control" id="address2" placeholder="" name="hanSuDung" required
                  [(ngModel)]="medicine.hanSuDung" pattern="([0-2][0-9]|(3)[0-1])(\-)(((0)[0-9])|((1)[0-2]))(\-)\d{4}$">
                <p class="form-validation m-0"
                  *ngIf="formMed.controls?.hanSuDung?.invalid && (formMed.controls?.hanSuDung?.dirty || formMed.controls?.hanSuDung?.touched) && !formMed.controls?.hanSuDung?.errors?.minlength">
                  {{'validate.required' | translate}}
                </p>
                <p class="form-validation mb-0"
                  *ngIf="formMed.controls?.hanSuDung?.errors && formMed.controls?.hanSuDung?.errors?.pattern">
                  {{'validate.dateinvalid' | translate}}</p>
              </div>
              <div class="mb-3">
                <label for="address2">{{'medicine.cost' | translate}}</label>
                <input type="text" class="form-control" id="address2" placeholder="" name="gia" required
                  [(ngModel)]="medicine.gia" pattern="^[1-9][0-9]*$">
                <p class="form-validation m-0"
                  *ngIf="formMed.controls?.gia?.invalid && (formMed.controls?.gia?.dirty || formMed.controls?.gia?.touched) && !formMed.controls?.gia?.errors?.minlength">
                  {{'validate.required' | translate}}
                </p>
                <p class="form-validation mb-0"
                *ngIf="formMed.controls?.gia?.errors && formMed.controls?.gia?.errors?.pattern">
                {{'validate.invalid' | translate}}</p>
              </div>
              <hr class="mb-4">
              <button class="btn btn-lng btn-block w-25 float-right" (click)="updateMedicine()"
                [disabled]="formMed.invalid" [class.ban]="formMed.invalid">{{'medicine.update' | translate}}</button>
  
              <!-- Alert -->
            </form>
          </div>
        </div>
        <footer class="my-5 pt-5 text-muted text-center text-small">
        </footer>
      </div>
    </div>
  </div>