<div class="add-patient pt-4">
  <div class="bg-light register-option">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 order-md-1">
          <h4 class="mb-3 text-center"> <i class="fas fa-users-medical mr-3 mt-4"></i>Chỉnh sửa thông tin nhân viên</h4>
          <form class="needs-validation" novalidate>
            <div class="mb-3">
              <label for="firstName">Họ và tên</label>
              <input type="text" class="form-control" id="firstName" placeholder="" required name="fullName"
                [(ngModel)]="employee.tenNhanVien">
              <div class="invalid-feedback">
                Không để trống họ và tên
              </div>
            </div>
            <div class="mb-3">
              <label for="username">Địa chỉ</label>
              <div class="input-group">
                <input type="text" class="form-control" id="username" placeholder="" name="diaChi" required
                  [(ngModel)]="employee.diaChi">
                <div class="invalid-feedback" style="width: 100%;">
                  Không để trống địa chỉ.
                </div>
              </div>
            </div>
            <!-- <div class="mb-3 input-group">
              <label for="address2" class="w-100">Entrance Date</label>
              <input class="form-control" placeholder="yyyy-mm-dd" name="entranceDate" [(ngModel)]="employee.ngayVao"
                ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i
                    class="fal fa-calendar-alt"></i></button>
              </div>
            </div>
            <div class="mb-3 input-group">
              <label for="address2" class="w-100">Date of Birth</label>
              <input class="form-control" placeholder="yyyy-mm-dd" name="entranceDate" [(ngModel)]="employee.ngaySinh"
                ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i
                    class="fal fa-calendar-alt"></i></button>
              </div>
            </div> -->
            <div class="mb-3">
              <label for="address2">Ngày vào làm</label>
              <input type="text" class="form-control" id="address2" placeholder="" name="ngayVao"
                [(ngModel)]="employee.ngayVao">
            </div>
            <div class="mb-3">
              <label for="address2">Ngày sinh</label>
              <input type="text" class="form-control" id="address2" placeholder="" name="ngaySinh"
                [(ngModel)]="employee.ngaySinh">
            </div>
            <div class="mb-3">
              <label for="address2">Chức vụ</label>
              <select class="custom-select d-block w-100" id="country" name="chucVu" required
                [(ngModel)]="employee.chucVu">
                <option value="">Chọn...</option>
                <option>Quản lý</option>
                <option>Nhân viên</option>
                <option>Bác sĩ</option>
                <option>Dược sĩ</option>
              </select>
            </div>
            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="country">Giới tính</label>
                <select class="custom-select d-block w-100" id="country" name="gender" required
                  [(ngModel)]="employee.gioiTinh">
                  <option value="">Chọn...</option>
                  <option value="Nam">Nam</option>
                  <option value="Nữ">Nữ</option>
                  <option value="Khác">Khác</option>
                </select>
              </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-lng btn-block" (click)="updateEmployee()">Cập nhật</button>
          </form>
        </div>
      </div>
      <footer class="my-5 pt-5 text-muted text-center text-small">
      </footer>
    </div>
  </div>
</div>