.pres-detl {
    position: fixed;
    top: 100px;
    left: 225px;
    width: 950px;
    height: 500px;
    background-color: whitesmoke;
    border: #395c9c 1px solid;
}

.title {
    color: white;
    background: #395c9c;
    font-size: 30px;
}

.logo {
    img {
        width: 200px;
    }
    background: #395c9c;
}