<div class="pres-detl">
  <div class="container">
    <div class="row">
      <div class="col-12 p-0">
        <p class="logo text-center m-0"><img [src]="logo" alt=""></p>
        <p class="text-center m-0 font-weight-bold title">
          PHÒNG KHÁM ĐA KHOA SAIGON MEDICAL
        </p>
      </div>
      <div class="col-12 mt-2" style="margin-bottom: 70px">
        <h1 class="text-center">ĐƠN THUỐC</h1>
      </div>
      <div class="col-lg-6">
        <p>Mã chi tiết: 035214</p>
        <p>Mã thuốc: A41121</p>
        <p>Mã mã hóa đơn: B2145</p>
        <p>Mã phiếu khám bệnh: RH1752</p>
      </div>
      <div class="col-lg-6">
        <p>Cách dùng: Ngày 3 liều</p>
        <p>Ngày thêm: 21/12/1019</p>
        <p>Số lượng: 3 viên Demostci, 3 viên Aspirin</p>
        <p>Thành tiền: 20,000 vnđ</p>
      </div>
      <div class="col-12 mt-4">
        <p class="text-right">
          <button class="btn btn-primary mr-2" (click)="close()"><i class="fas fa-pencil mr-2"></i>Sửa</button>
          <button class="btn btn-danger" (click)="close()"> <i class="fas fa-times-square mr-2"></i>Đóng</button>
        </p>
      </div>
    </div>
  </div>
</div>