<div class="container">
    <div class="patient">
      <div class="row">
        <div class="col-lg-12 patient-nav">
          <h3>  <i class="fas fa-file-prescription mr-2 ml-2"></i>Quản Lí Đơn Thuốc</h3>
        </div>
      </div>
      <div class="row" *ngIf="isHidden">
        <div class="col-lg-12">
          <div class="patient-list">
            <div class="patient-list-head">
              <p>
                <button class="btn m-2" [routerLink]="'add-prescription'"><a><i class="fas fa-plus-square mr-2"></i>Thêm Đơn Thuốc</a></button>
                <!-- <button class="btn m-2" [routerLink]="'add-examination'"><a><i class="fas fa-edit mr-2"></i></a></button> -->
  
              </p>
            </div>
            <div class="search-patient mt-3">
              <div class="row">
                <div class="col-12">
                  <form class="search-container mx-auto">
                    <input type="text" id="search-bar" placeholder="Nhập mã số đơn thuốc!">
                    <a><i class="fas fa-search"></i></a>
                  </form>
                </div>
              </div>
            </div>
            <div class="patient-list-body">
              <ul class="m-0 p-0">
                <div class="row m-4">
                  <li class=" p-0 col-6" *ngFor="let user of users">
                    <div class="patient-user m-1">
                      <div class="card">
                        <div class="card-head">
                          <h5 class="name title mt-2 p-0">Mã đơn thuốc: {{user.no}}</h5>
                        </div>
                        <div class="card-body p-2">
                          <p>Mã đăng ký: {{user.birth}}</p>                 
                          <!-- <p>Chuẩn đoán: {{user.email}}</p>
                          <p>Ngày thêm: {{user.blood}}</p> -->
                        </div>
                        <p class="text-right">
                          <button class="btn m-2 btn-success" [routerLink]="'prescription-detail'"><i class="fas fa-shield-check mr-2"></i>Xem chi tiết!</button>
                          <!-- <button class="btn m-2 btn-danger"><i
                              class="fas fa-exclamation-triangle mr-2"></i>Delete!</button> -->
                        </p>
                      </div>
                    </div>
                  </li>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>