<div class="add-patient pt-4">
  <div class="bg-light register-option">
    <div class="container">
      <div class="row">
        <!-- chỉnh khung divide vào giữa màn hình -->
        <div class="col-lg-12 order-md-1">
          <!-- chỉnh khung divide vào giữa màn hình -->
          <h4 class="mb-3 text-center"><i class="fal fa-user-edit mr-3 mt-4"></i>Cập nhật thông tin bệnh nhân</h4>
          <form class="needs-validation" #formExams="ngForm">
            <div class="mb-3">
              <label for="firstName">Họ và tên</label>
              <input type="text" class="form-control" id="firstName" name="tenBenhNhan" placeholder=""
                [(ngModel)]="patient.tenBenhNhan" required>
              <div class="invalid-feedback">
                Không để trống họ và tên
              </div>
            </div>
            <div class="mb-3">
              <label for="address2">Số điện thoại</label>
              <input type="text" class="form-control" id="address2" name="soDienThoai" placeholder=""
                [(ngModel)]="patient.soDienThoai">
            </div>
            <div class="mb-3">
              <label for="username">Địa chỉ</label>
              <div class="input-group">
                <input type="text" class="form-control" id="username" name="diaChi" placeholder="" required
                  [(ngModel)]="patient.diaChi">
                <div class="invalid-feedback" style="width: 100%;">
                  Không để trống địa chỉ.
                </div>
              </div>
            </div>
            <!-- <div class="mb-3 input-group">
              <label for="address2" class="w-100">Date of Birth</label>
              <input class="form-control" placeholder="yyyy-mm-dd" name="ngaySinh" [(ngModel)]="patient.ngaySinh"
                ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i
                    class="fal fa-calendar-alt"></i></button>
              </div>
            </div> -->
            <div class="mb-3">
              <label for="address2">Ngày sinh</label>
              <input type="text" class="form-control" id="address2" name="ngaySinh" placeholder=""
                [(ngModel)]="patient.ngaySinh">
            </div>
            <div class="mb-3">
              <label for="address2">Nghề nghiệp</label>
              <input type="text" class="form-control" id="address2" name="ngheNghiep" placeholder=""
                [(ngModel)]="patient.ngheNghiep">
            </div>
            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="country">Giới tính</label>
                <select class="custom-select d-block w-100" id="country" name="gioiTinh" required
                  [(ngModel)]="patient.gioiTinh">
                  <option value="Nam">Nam</option>
                  <option value="Nữ">Nữ</option>
                </select>
              </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-lng btn-block" (click)="updatePatient()" [disabled]="formExams.invalid" [class.ban]="formExams.invalid">Cập nhật</button>
          </form>
        </div>
      </div>
      <footer class="my-5 pt-5 text-muted text-center text-small">
      </footer>
    </div>
  </div>

</div>