<div class="add-patient pt-4">
  <div class="bg-light register-option">
    <div class="container">
      <div class="row">
        <!-- chỉnh khung divide vào giữa màn hình -->
        <div class="col-lg-12 order-md-1">
          <!-- chỉnh khung divide vào giữa màn hình -->
          <h4 class="mb-3 text-center"> <i class="fas fa-users-medical mr-3 mt-4"></i>Update Patient Information</h4>
          <form class="needs-validation" novalidate>
            <div class="mb-3">
              <label for="firstName">Full Name</label>
              <input type="text" class="form-control" id="firstName" name="tenBenhNhan" placeholder=""
                [(ngModel)]="patient.tenBenhNhan" required>
              <div class="invalid-feedback">
                Không để trống họ và tên
              </div>
            </div>
            <div class="mb-3">
              <label for="address2">Phone Number</label>
              <input type="text" class="form-control" id="address2" name="soDienThoai" placeholder=""
                [(ngModel)]="patient.soDienThoai">
            </div>
            <div class="mb-3">
              <label for="username">Address</label>
              <div class="input-group">
                <input type="text" class="form-control" id="username" name="diaChi" placeholder="" required
                  [(ngModel)]="patient.diaChi">
                <div class="invalid-feedback" style="width: 100%;">
                  Không để trống địa chỉ.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="address2">Date of Birth</label>
              <input type="text" class="form-control" id="address2" name="ngaySinh" placeholder=""
                [(ngModel)]="patient.ngaySinh">
            </div>
            <div class="mb-3">
              <label for="address2">Career</label>
              <input type="text" class="form-control" id="address2" name="ngheNghiep" placeholder=""
                [(ngModel)]="patient.ngheNghiep">
            </div>
            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="country">Gender</label>
                <select class="custom-select d-block w-100" id="country" name="gioiTinh" required
                  [(ngModel)]="patient.gioiTinh">
                  <option>Male</option>
                  <option>Female</option>
                </select>
              </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-lng btn-block" (click)="updatePatient()">Save</button>
          </form>
        </div>
      </div>
      <footer class="my-5 pt-5 text-muted text-center text-small">
      </footer>
    </div>
  </div>

</div>