/* You can add global styles to this file, and also import other style files */
@import "assets/scss/bootstrap.min.css";
@import "assets/fontawesome/css/all.css";

button {
  background: #395c9c;
  color: white;
  border-radius: 35px !important;

  &:hover {
    transition-duration: 0.4s;
    background: #5384df;
  }
}
