/*
   * Sidebar
   */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  background: #2c3136;
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar-logo {
  border-top-left-radius: 5px;
  background: #3e454c;
}

.sidebar .nav-link {
  font-weight: 500;
  font-size: 14px;
  color: #a6a6a6;

  &:active,
  &:focus,
  &:hover {
    // transition-duration: 0.4s;
    // background-image: linear-gradient(to right, #36d1dc, #5b86e5);
    background: #3e454c;
    border-left: white 5px solid;
    transition-duration: .4s;
    // border-radius: 35px;
    // color: #2c3136;

  }
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.drop-devider {
  height: 1px;
  background: #33383e;
  width: auto;
}

.model-box {
  z-index: 1;
  // height: 200px;
  width: 400px;
  background: whitesmoke;
  position: fixed;
  top: 30%;
  border: #d0cfce 1px solid;
  left: 35%;
  border-radius: 5px;

  img {
    width: 200px;
  }

  .head {
    color: white;
    background: #395c9c !important;
  }

  .body {
    padding: 20px;
  }
}
