<div class="container">
  <div class="patient">
    <div class="row">
      <div class="col-lg-12 patient-nav">
        <h3><i class="fab fa-accessible-icon mr-2 ml-2"></i>Quản Lí Bệnh Nhân</h3>
      </div>
    </div>
    <div class="row" *ngIf="isHidden">
      <div class="col-lg-12">
        <div class="patient-list">
          <div class="patient-list-head">
            <p class="m-0">
              <button class="btn m-2" [routerLink]="'add-patient'"><a><i class="fas fa-plus-square mr-2"></i>Thêm Bệnh
                  Nhân
                </a></button>
            </p>
          </div>
          <div class="search-patient mt-3">
            <div class="row">
              <div class="col-12">
                <form class="search-container mx-auto">
                  <input type="text" id="search-bar" placeholder="Nhập tên hoặc mã số bệnh nhân!">
                  <a><i class="fas fa-search"></i></a>
                </form>
              </div>
            </div>
          </div>
          <div class="col-12 mt-4">
            <h3 class="text-center">Danh sách bệnh nhân</h3>

            <table class="table ml-2">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Hình</th>
                  <th scope="col">Tên</th>
                  <th scope="col">Địa chỉ</th>
                  <th scope="col">Ngày sinh</th>
                  <th scope="col">Ngày khám</th>
                  <th scope="col">Số điện thoại</th>
                  <th scope="col">Bác sĩ</th>
                  <th scope="col">Hành động</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users; let i=index">
                  <th scope="row">{{i+1}}</th>
                  <td><img [src]="user.img" alt=""></td>
                  <td>{{user.name}}</td>
                  <td>{{user.address}}</td>
                  <td>{{user.date}}</td>
                  <td>{{user.arrive}}</td>
                  <td style="color: blue"><i class="fas fa-mobile-android-alt mr-2"></i>{{user.phone}}</td>
                  <td>{{user.doctor}}</td>
                  <td>
                    <button class="btn mr-2"><i class="fas fa-pencil-alt"></i></button>
                    <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>