<div class="modal-header m-1">
  <div class="col-12 p-0 head">
    <p class="logo text-center m-0"><img class="w-50" [src]="logo" alt=""></p>
    <h4 class="text-center m-0 title text-white">
      Nhanviet Medical General Hospital
    </h4>
  </div>
</div>
<div class="modal-body">
  <div class="col-12 body">
    <p class="text-center">Are you sure you want to log out?</p>
  </div>

</div>
<div class="modal-footer">
  <div class="col-12">
    <p class="text-right m-0">
      <button class="btn btn-success mr-2" (click)="close()"> <i class="fas fa-times-square mr-2"></i>Cancel</button>
      <button class="btn btn-danger ml-2" (click)="logout()"> <i class="fas fa-sign-out-alt mr-2"></i>Log out</button>
    </p>
  </div>
</div>